<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Store Catalog</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <section class="title-section">
        <div class="title"> Our Products </div>
    </section>
    
        <section class="products-section">
            <div class="products-container">
                <div class="product-block">
                    <img src="..//assets/laptop_pro.jpg" alt="Laptop Pro" class="product-image">
                    <section class="info-section">
                        <h2 class="product-name">Laptop Pro</h2>
                        <p class="category">Electronics</p>
                        <p class="price">$1299</p>
                        <button class="add-to-cart" aria-label="Add Laptop Pro to cart">Add to Cart</button>
                    </section>
                </div>
                  
        
                <div class="product-block">
                </div>   
        
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>  
            </div>
        </section>
</body>
</html>