<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Store Catalog</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <section class="title-section">
        <div class="title"> Our Products </div>
    </section>
    
        <section class="products-section">
            <div class="products-container">
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>   
        
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>  
        
                <div class="product-block">
                </div>  
            </div>
        </section>
</body>
</html>